@import "@/styles/variables.scss";
@import "@/styles/mixins.scss";

.header {
  position: fixed;
  z-index: 10;
  top: 0;
  width: 100%;
}

.wrapper {
  display: flex;
  align-items: center;
  gap: 45px;
  width: 100%;
  max-width: 1920px;
  margin: auto;
  padding: 40px 80px;
  background-color: $theme-white;
}

.logo {
  margin: auto;
}

.btnCall {
  color: $typography-accent;
}

.phone {
  font-weight: 600;
}

.btnMenu {
  display: flex;
  align-items: center;
  gap: 15px;

  &:hover {
    .line {
      &::before {
        transform: translateY(-10px);
      }
      &::after {
        transform: translateY(10px);
      }
    }
  }
}

.burger {
  position: relative;
  width: 38px;
  height: 18px;
}

.line,
.line::before,
.line::after {
  content: "";
  position: absolute;
  left: 0;
  width: 100%;
  height: 2px;
  background-color: $typography-accent;
  @include transition;
}

.line {
  top: 50%;
  transform: translateY(-50%);

  &::before {
    transform: translateY(-8px);
  }
  &::after {
    transform: translateY(8px);
  }
}
