@import "@/styles/variables.scss";
@import "@/styles/mixins.scss";

.header {
  position: fixed;
  z-index: 10;
  top: 0;
  width: 100%;
}

.wrapper {
  display: flex;
  align-items: center;
  gap: 45px;
  width: 100%;
  max-width: 1920px;
  margin: auto;
  padding: 40px 80px;
  background-color: $theme-white;

  @media (max-width: $media-xxl) {
    gap: 40px;
    padding: 30px 40px;
  }
  @media (max-width: $media-xl) {
    padding: 30px;
  }
  @media (max-width: $media-l) {
    padding: 40px;
  }
  @media (max-width: $media-m) {
    padding: 20px;
  }
}

.logo {
  margin: auto;

  @media (max-width: $media-l) {
    order: 3;
  }
}

.phone {
  font-size: 17px;
  font-weight: 600;

  @media (max-width: $media-xxl) {
    font-size: 15px;
  }
  @media (max-width: $media-xl) {
    font-size: 13px;
  }
  @media (max-width: $media-l) {
    order: 2;
    margin-left: calc((100% - 527px - 24px * 3) / 4);
    padding: 14px;
    border: 1px solid $theme-border-dark;
    border-radius: 50%;
  }
  @media (max-width: $media-m) {
    order: 4;
    margin: 0;
    border-color: $typography-accent;
  }

  svg {
    display: none;

    @media (max-width: $media-l) {
      display: block;
    }
  }

  span {
    @media (max-width: $media-l) {
      display: none;
    }
  }
}

.btnMenu {
  display: flex;
  align-items: center;
  gap: 15px;

  @media (max-width: $media-xxl) {
    gap: 12px;
    font-size: 13px;
  }
  @media (max-width: $media-xl) {
    gap: 10px;

    font-size: 12px;
  }
  @media (max-width: $media-l) {
    gap: 10px;
    order: 1;
    font-size: 12px;
  }
  @media (max-width: $media-m) {
    & > div:last-child {
      display: none;
    }
  }

  &:hover {
    .line {
      &::before {
        transform: translateY(-10px);

        @media (max-width: $media-xxl) {
          transform: translateY(-8px);
        }
      }
      &::after {
        transform: translateY(10px);

        @media (max-width: $media-xxl) {
          transform: translateY(8px);
        }
      }
    }
  }
}

.burger {
  position: relative;
  width: 38px;
  height: 18px;

  @media (max-width: $media-l) {
    width: 32px;
    height: 14px;
  }
}

.line,
.line::before,
.line::after {
  content: "";
  position: absolute;
  left: 0;
  width: 100%;
  height: 2px;
  background-color: $typography-accent;
  @include transition;

  @media (max-width: $media-m) {
    background-color: $typography-primary;
  }
}

.line {
  top: 50%;
  transform: translateY(-50%);

  &::before {
    transform: translateY(-8px);

    @media (max-width: $media-xxl) {
      transform: translateY(-6px);
    }
  }
  &::after {
    transform: translateY(8px);

    @media (max-width: $media-xxl) {
      transform: translateY(6px);
    }
  }
}

.callBtn {
  @media (max-width: $media-l) {
    display: none;
  }
}

.callBtnText {
  color: $typography-accent;

  @media (max-width: $media-xxl) {
    font-size: 13px;
  }
  @media (max-width: $media-xl) {
    font-size: 12px;
  }
}

.select {
  @media (max-width: $media-l) {
    order: 4;
  }
  @media (max-width: $media-m) {
    display: none;
  }
}
