@import "@/styles/variables.scss";

.placeholder {
  position: absolute;
  display: flex;
  align-items: center;
  gap: 12px;
}

.placeholderText,
.valueText {
  color: $typography-invert;
  font-size: 15px;
  font-weight: 600;
}

.placeholderText {
  letter-spacing: 1px;
}

.value {
  position: absolute;
  width: calc(100% - 56px);
}

.valueText {
  overflow: hidden;
  text-overflow: ellipsis;
}
