@import "@/styles/variables.scss";

.title {
  display: flex;
  flex-direction: column;
  font-size: 31px;
  line-height: 140%;
  font-weight: 400;

  span {
    color: $typography-accent;
  }
}
.bigText {
  font-size: 200px;
  line-height: 68%;
}
.bottom {
  display: flex;
  justify-content: space-between;
  align-items: end;
  gap: 24px;
  margin-top: 50px;
}
.img {
  width: 100%;
  height: calc(100dvh - 314px);
  object-fit: cover;
}