@import "@/styles/variables.scss";
@import "@/styles/mixins.scss";

.video {
  display: flex;
  align-items: center;
  gap: 20px;
  width: 100%;
}

.left {
  position: relative;
  width: max-content;
}

.title {
  font-size: 18px;
  line-height: 140%;

  @media (max-width: $media-max) {
    font-size: 0.938vw;
  }
  @media (max-width: $media-l) {
    font-size: 10px;
  }
}

.duration {
  position: absolute;
  color: $typography-secondary;
  text-transform: none;
  font-size: 18px;
  line-height: 160%;

  @media (max-width: $media-max) {
    font-size: 0.938vw;
  }
  @media (max-width: $media-l) {
    font-size: 10px;
  }
}

.right {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
  overflow: hidden;
  width: 240px;
  min-width: 133px;
  height: 240px;
  min-height: 133px;
  border-radius: 50%;
  color: $typography-invert;

  @media (max-width: $media-max) {
    width: 12.51vw;
    height: 12.51vw;
  }
  @media (max-width: $media-l) {
    gap: 4px;
    font-size: 10px;
  }

  &::before {
    content: "";
    position: absolute;
    width: 142px;
    min-width: 77px;
    height: 142px;
    min-height: 77px;
    border: 1px solid $theme-white;
    border-radius: 50%;
    @include transition(transform);

    @media (max-width: $media-max) {
      width: 7.3vw;
      height: 7.3vw;
    }
  }
  &::after {
    content: "";
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: $video-overlay;
    @include transition(background-color);
  }
  &:hover {
    &::before {
      transform: scale(1.2);
    }
    &::after {
      background-color: transparent;
    }

    .preview {
      transform: translate(-50%, -50%) scale(1.1);
    }
  }

  svg {
    min-width: 12px;
    
    @media (max-width: $media-l) {
      min-width: unset;
      width: 7px;
    }
  }
}

.preview {
  position: absolute;
  z-index: -1;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  @include transition(transform);
}

.line {
  flex-grow: 1;
  height: 1px;
  background-color: $theme-border;
}
