@import "@/styles/variables.scss";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  color: $typography-primary;
  text-transform: uppercase;
  font-family: $font-primary;
  line-height: 120%;
}

main {
  height: 100dvh;
  overflow: hidden;
}

a {
  text-decoration: none;
}

button {
  border: none;
  background-color: transparent;
  font-size: 15px;
  font-weight: 600;
  cursor: pointer;
}

.wrapper {
  width: 100%;
  max-width: 1920px;
  margin: auto;
  padding: 80px;
  padding-top: 124px;

  @media (max-width: $media-xl) {
    padding: 30px;
    padding-top: 106px;
  }
}

body .scrollbar-track {
  z-index: 20;
}

.MuiInputBase-root {
  background-color: transparent;
}

.btn {
  &--primary {
    padding: 24px;
    border-radius: 100px;
    background-color: $btn-primary;
    color: $typography-invert;
    text-align: center;
  }
}
