@import "@/styles/variables.scss";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  color: $typography-primary;
  text-transform: uppercase;
  font-family: $font-primary;
  line-height: 120%;
}

main {
  height: 100dvh;
  overflow: hidden;
}

a {
  text-decoration: none;
}

button {
  border: none;
  background-color: transparent;
  font-size: 15px;
  font-weight: 600;
  cursor: pointer;
}

.wrapper {
  width: 100%;
  max-width: 1920px;
  margin: auto;
  padding: 80px;
  padding-top: 124px;
}

body .scrollbar-track {
  z-index: 20;
}