$theme-white: rgb(255, 255, 255);
$theme-shadow: rgba(0, 174, 255, 0.4);
$theme-border: rgb(128, 128, 128);

$typography-primary: rgb(21, 19, 23);
$typography-accent: rgb(47, 128, 237);

$font-primary: "Proxima Nova";

$media-l: 1024px;
$media-m: 768px;
$media-s: 520px;
$media-xs: 375px;
