$theme-white: rgb(255, 255, 255);
$theme-shadow: rgba(0, 174, 255, 0.4);
$theme-border: rgb(245, 245, 245);


$typography-primary: rgb(21, 19, 23);
$typography-secondary: rgb(136, 136, 136);
$typography-invert: rgb(255, 255, 255);
$typography-accent: rgb(47, 128, 237);

$font-primary: "Proxima Nova";

$video-overlay: rgba(47, 128, 237, 0.3);

$media-l: 1024px;
$media-m: 768px;
$media-s: 520px;
$media-xs: 375px;
