@import "@/styles/variables.scss";

.about {
  display: flex;
  column-gap: 293px;
  width: 100%;
  margin-top: 162px;

  @media (max-width: $media-xl) {
    justify-content: space-between;
    column-gap: 124px;
    margin-top: 110px;
  }
  @media (max-width: $media-l) {
    column-gap: 98px;
    margin-top: 120px;
  }
  @media (max-width: $media-m) {
    column-gap: 64px;
    flex-direction: column;
    padding: 0;
    padding-right: calc(24px + 40px);
  }
  @media (max-width: $media-s) {
    margin-top: 50px;
    padding-right: 0;
  }
}

.left {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: end;
  gap: 35px;
  width: 100%;
  max-width: 734px;

  @media (max-width: $media-xl) {
    max-width: 567px;
  }
  @media (max-width: $media-l) {
    gap: 21px;
    max-width: 408px;
  }
  @media (max-width: $media-m) {
    gap: 20px;
    max-width: unset;
    height: 410px;
  }
  @media (max-width: $media-s) {
    padding-right: calc(24px + 40px);
  }
}

.right {
  width: 590px;
  min-width: 590px;
  padding-top: 210px;
  
  @media (max-width: $media-xl) {
    width: 454px;
    min-width: 454px;
    padding-top: 160px;
  }
  @media (max-width: $media-l) {
    width: 334px;
    min-width: 334px;
    padding-top: 117px;
  }
  @media (max-width: $media-m) {
    width: 100%;
    min-width: none;
    padding: 0 20px;
    padding-top: 35px;
    padding-right: 0;
  }
  @media (max-width: $media-s) {
    padding-right: 20px;
  }
}

.description {
  position: relative;
  display: flex;
  flex-direction: column;
  font-size: 34px;
  line-height: 140%;
  font-weight: 400;

  @media (max-width: $media-xl) {
    font-size: 26px;
  }
  @media (max-width: $media-l) {
    font-size: 19px;
  }
  @media (max-width: $media-m) {
    font-size: 23px;
  }
  @media (max-width: $media-s) {
    font-size: 18px;
  }
  @media (max-width: $media-xs) {
    font-size: 16px;
  }

  &::before {
    content: "";
    position: absolute;
    top: -65px;
    width: 64px;
    height: 12px;
    border-radius: 3px;
    background-color: $typography-accent;

    @media (max-width: $media-xl) {
      top: -50px;
      width: 50px;
      height: 9px;
      border-radius: 2px;
    }
    @media (max-width: $media-l) {
      top: -35px;
      width: 35px;
      height: 6px;
    }
    // @media (max-width: $media-l) {
    //   top: -30px;
    // }
  }
}

.textAccent {
  color: $typography-accent;
}

.info {
  display: flex;
  flex-direction: column;
  margin-top: 120px;
  font-size: 20px;

  @media (max-width: $media-xl) {
    margin-top: 100px;
    font-size: 16px;
  }
  @media (max-width: $media-l) {
    margin-top: 65px;
    font-size: 12px;
  }
  @media (max-width: $media-m) {
    font-size: 16px;
    margin-top: 40px;
  }
  @media (max-width: $media-s) {
    font-size: 16px;
  }
}

.title {
  color: $typography-accent;
  font-size: 17px;
  line-height: 140%;
  font-weight: 400;

  @media (max-width: $media-xl) {
    font-size: 13px;
  }
  // @media (max-width: $media-xl) {
  //   font-size: 11px;
  // }
}

.picture {
  position: relative;
  flex-grow: 1;
  width: 100%;

  &::before {
    content: "";
    position: absolute;
    z-index: 1;
    top: 114px;
    right: 0;
    transform: translateX(50%);
    width: 260px;
    height: 260px;
    background-color: $typography-accent;
    border-radius: 50%;

    @media (max-width: $media-xl) {
      top: 88px;
      width: 200px;
      height: 200px;
    }
    @media (max-width: $media-l) {
      top: 60px;
      width: 148px;
      height: 148px;
    }
    @media (max-width: $media-m) {
      width: 81px;
      height: 81px;
    }
    // @media (max-width: $media-s) {
    //   width: 87px;
    //   height: 87px;
    // }
  }

  img {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

.imgIcon {
  position: absolute;
  z-index: 1;
  top: 200px;
  right: 0;
  transform: translateX(50%);

  @media (max-width: $media-xl) {
    top: 154px;
    width: 49px;
    height: 68px;
  }
  @media (max-width: $media-l) {
    top: 110px;
    width: 35px;
    height: 49px;
  }
  @media (max-width: $media-m) {
    top: 85px;
    width: 20px;
    height: 27px;
  }
}

.btnVideo {
  margin-top: 100px;

  @media (max-width: $media-xl) {
    margin-top: 96px;
  }
  @media (max-width: $media-l) {
    margin-top: 60px;
  }
  @media (max-width: $media-m) {
    // max-width: 330px;
    margin-top: 30px;
  }
  // @media (max-width: $media-s) {
  //   margin-top: 20px;
  // }
}
